*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 50%;
    height: 150px;
    font-size:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin:25px;
    align-items: center;
}
input{
    margin-top:15px;
    font-size:15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
}
button{
    margin-top:15px;
    font-size:15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
}